@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	// font-family: $pop;
}

.centralize {
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	color: #090909;
	background: #fff;
	font-family: "Montserrat", sans-serif;

	header {
		width: 100%;
		height: 121px;
		nav {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;

			.search_container {
				width: 444px;
				height: 54px;
				background: #e5e5e5;
				position: relative;
				border-radius: 10px;
				.icon {
					width: 50px;
					height: 100%;
					position: absolute;
					left: 0;

					.iconify {
						font-size: 24px;
						color: #8a8a8e;
					}
				}
				input {
					position: absolute;
					width: calc(100% - 50px);
					height: 100%;
					margin-left: 50px;
					border: none;
					background: transparent;
					&:focus {
						outline: none;
					}
				}
			}

			.links {
				display: flex;
				align-items: center;
				justify-content: space-around;
				width: 446px;
				.get_bunk {
					width: 170px;
					padding: 10px;
					border-radius: 9px;
					background: #00be85;
					color: #fff;
					text-decoration: none;
					font-size: 20px;
				}

				.link_item {
					a {
						text-decoration: none;
						color: #090909;
						font-size: 20px;
						padding: 5px 0;
						position: relative;

						&:hover {
							font-weight: 600;
							&::after {
								content: "";
								position: absolute;
								bottom: 0;
								left: 0;
								width: 20px;
								height: 4px;
								background: #00be85;
								border-radius: 5px;
							}
						}
					}
				}
			}
			// media query for tablets___nav
			@media screen and (max-width: 778px) {
				& {
					.links {
						display: none;
					}
					.search_container {
						width: 300px;
					}
				}
			}

			// media query from smaller phone
			@media screen and (max-width: 578px) {
				& {
					.search_container {
						width: 250px;
					}
				}
			}
		}
	}
}
