@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
body {
}
.textheading {
  position: absolute;
  width: 825px;
  height: 55px;
  left: 317px;
  top: 2037px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */

  color: #444343;
}

.subheading {
  position: absolute;
  width: 475px;
  height: 60px;
  left: 481px;
  top: 2119px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 148.4%;
  /* or 30px */

  text-align: center;

  color: #3e3e3e;
}

.schpic1 {
  position: absolute;
  width: 393px;
  height: 220px;
  left: 110px;
  top: 2226px;

  background: linear-gradient(
      0deg,
      rgba(0, 190, 133, 0.16),
      rgba(0, 190, 133, 0.16)
    ),
    url(image.png);
  border-radius: 10px;
}

.schpic2 {
  position: absolute;
  width: 393px;
  height: 220px;
  left: 523px;
  top: 2226px;

  background: linear-gradient(
      0deg,
      rgba(0, 190, 133, 0.16),
      rgba(0, 190, 133, 0.16)
    ),
    url(image.png);
  border-radius: 10px;
}

.schpic3 {
  position: absolute;
  width: 393px;
  height: 220px;
  left: 937px;
  top: 2226px;

  background: linear-gradient(
      0deg,
      rgba(0, 190, 133, 0.16),
      rgba(0, 190, 133, 0.16)
    ),
    url(image.png);
  border-radius: 10px;
}

.schpic4 {
  position: absolute;
  width: 393px;
  height: 220px;
  left: 110px;
  top: 2541px;

  background: linear-gradient(
      0deg,
      rgba(0, 190, 133, 0.16),
      rgba(0, 190, 133, 0.16)
    ),
    url(image.png);
  border-radius: 10px;
}

.schpic5 {
  position: absolute;
  width: 393px;
  height: 220px;
  left: 523px;
  top: 2541px;

  background: linear-gradient(
      0deg,
      rgba(0, 190, 133, 0.16),
      rgba(0, 190, 133, 0.16)
    ),
    url(image.png);
  border-radius: 10px;
}

.schpic6 {
  position: absolute;
  width: 393px;
  height: 220px;
  left: 937px;
  top: 2541px;

  background: linear-gradient(
      0deg,
      rgba(0, 190, 133, 0.16),
      rgba(0, 190, 133, 0.16)
    ),
    url(image.png);
  border-radius: 10px;
}

.viewmorebut {
  position: absolute;
  width: 318px;
  height: 78px;
  left: 110px;
  top: 2889px;

  background: #00be85;
  border-radius: 10px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

.joinnowcont {
  position: absolute;
  width: 1221px;
  height: 422px;
  left: 110px;
  top: 3089px;

  background: #fbf9f9;
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 150px 0px;
}

.jointext {
  position: absolute;
  width: 778px;
  height: 155px;
  left: 158px;
  top: 3173px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 139%;
  /* or 39px */

  color: #444343;
}

.asadugger {
  position: absolute;
  width: 362px;
  height: 602px;
  left: 930px;
  top: 2944px;

  /* background: url(pexels-asa-dugger-1649896-removebg-preview.png); */
}

.joinnowbut {
  position: absolute;
  width: 245px;
  height: 78px;
  left: 158px;
  top: 3378px;

  background: #00be85;
  border-radius: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
}

.floatpictesttl {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 293px;
  top: 3706px;

  background: url(pexels-monstera-6311391.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.floatpictestml {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 211px;
  top: 3870px;

  background: url(pexels-cottonbro-3206082.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.floatpictestbl {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 293px;
  top: 4073px;

  background: url(IMG-20210320-WA0072.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.floatpictesttr {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1059px;
  top: 3706px;

  background: url(IMG-20210320-WA0072.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.floatpictestmr {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1160px;
  top: 3857px;

  background: url(clem-onojeghuo-9y8HtS6Voi0-unsplash.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.floatpictestbr {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 1059px;
  top: 4073px;

  background: url(heylagostechie-7d4LREDSPyQ-unsplash.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.testtextheading {
  position: absolute;
  width: 284px;
  height: 55px;
  left: 578px;
  top: 3593px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */

  color: #444343;
}

.testimonycont {
  position: absolute;
  width: 555px;
  height: 328px;
  left: 443px;
  top: 3752px;

  background: #edeff1;
  border: 1px solid #00be85;
  box-sizing: border-box;
  border-radius: 28px;
}

.testimg {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 679px;
  top: 3776px;

  background: url(joackim-weiler--qnfI8YkTjI-unsplash.jpg);
  border: 2px solid #00be85;
  box-sizing: border-box;
  border-radius: 50%;
}

.testname {
  position: absolute;
  width: 125px;
  height: 30px;
  left: 658px;
  top: 3877px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #444343;
}

.testimony {
  position: absolute;
  width: 521px;
  height: 135px;
  left: 460px;
  top: 3920px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 148.4%;
  /* or 27px */

  text-align: center;

  color: #3e3e3e;
}

.schname1 {
  position: absolute;
  width: 394px;
  height: 50px;
  left: 110px;
  top: 2420px;

  background: #00be85;
  border-radius: 0px 0px 10px 10px;
}

.schname2 {
  position: absolute;
  width: 394px;
  height: 50px;
  left: 523px;
  top: 2420px;

  background: #00be85;
  border-radius: 0px 0px 10px 10px;
}

.schname3 {
  position: absolute;
  width: 394px;
  height: 50px;
  left: 937px;
  top: 2420px;

  background: #00be85;
  border-radius: 0px 0px 10px 10px;
}

.schname4 {
  position: absolute;
  width: 394px;
  height: 50px;
  left: 110px;
  top: 2736px;

  background: #00be85;
  border-radius: 0px 0px 10px 10px;
}

.schname5 {
  position: absolute;
  width: 394px;
  height: 50px;
  left: 523px;
  top: 2736px;

  background: #00be85;
  border-radius: 0px 0px 10px 10px;
}

.schname6 {
  position: absolute;
  width: 394px;
  height: 50px;
  left: 937px;
  top: 2736px;

  background: #00be85;
  border-radius: 0px 0px 10px 10px;
}

.schnametext1 {
  position: absolute;
  width: 74px;
  height: 37px;
  left: 149px;
  top: 2402px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 148.4%;
  /* identical to box height, or 37px */

  color: #ffffff;
}

.schnametext2 {
  position: absolute;
  width: 74px;
  height: 37px;
  left: 560px;
  top: 2402px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 148.4%;
  /* identical to box height, or 37px */

  color: #ffffff;
}

.schnametext3 {
  position: absolute;
  width: 74px;
  height: 37px;
  left: 974px;
  top: 2402px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 148.4%;
  /* identical to box height, or 37px */

  color: #ffffff;
}

.schnametext4 {
  position: absolute;
  width: 74px;
  height: 37px;
  left: 149px;
  top: 2718px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 148.4%;
  /* identical to box height, or 37px */

  color: #ffffff;
}

.schnametext5 {
  position: absolute;
  width: 74px;
  height: 37px;
  left: 560px;
  top: 2718px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 148.4%;
  /* identical to box height, or 37px */

  color: #ffffff;
}

.schnametext6 {
  position: absolute;
  width: 74px;
  height: 37px;
  left: 974px;
  top: 2718px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 148.4%;
  /* identical to box height, or 37px */

  color: #ffffff;
}

.inlinelink {
  color: #00be85;
  text-decoration: none;
}

.rec1 {
  position: absolute;
  width: 164px;
  height: 7px;
  left: 317px;
  top: 2096px;

  background: #00be85;
  border: 2px solid #00be85;
  box-sizing: border-box;
}

.rec2 {
  position: absolute;
  width: 82px;
  height: 7px;
  left: 578px;
  top: 3644px;

  background: #00be85;
  border: 2px solid #00be85;
  box-sizing: border-box;
}

.cir1 {
  position: absolute;
  width: 194px;
  height: 194px;
  left: 1050px;
  top: 3157px;

  background: rgba(0, 190, 133, 0.3);
  border-radius: 50%;
}

.cir2 {
  position: absolute;
  width: 158px;
  height: 158px;
  left: -59px;
  top: 1980px;

  background: rgba(0, 190, 133, 0.3);
  border-radius: 50%;
}
