@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");

body {
  position: relative;
  width: 100%;
  height: 4917px;
  margin: auto -40px;
  background: #8d1010;

  /* background: #ffffff; */
}
.footerrec {
  position: absolute;
  width: 100vw;
  height: 321px;
  left: 0px;
  top: 4228px;
  margin: auto 40px; 
}

.ftmaintext {
  position: absolute;
  width: 778px;
  height: 117px;
  left: 331px;
  top: 4287px;

  font-family: Work Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 139%;
  /* or 39px */

  text-align: center;

  color: #ffffff;
}

.googleplaystorepic {
  position: absolute;
  width: 222.22px;
  height: 75px;
  left: 427px;
  top: 4432px;

  border-radius: 10px;
}

.iosappstorepic {
  position: absolute;
  width: 235px;
  height: 65px;
  left: 763px;
  top: 4437px;
  border-radius: 10px;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  color: #090909;
}

.bunkiefttext {
  position: absolute;
  width: 180px;
  /* height: 49px; */
  left: 100px;
  top: 4611px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  color: #090909;
}

.sponsors {
  position: absolute;
  width: 143px;
  height: 37px;
  left: 420px;
  top: 4615px;
}

.contact {
  position: absolute;
  width: 167px;
  height: 37px;
  left: 730px;
  top: 4615px;
}

.company {
  position: absolute;
  width: 149px;
  height: 37px;
  left: 1040px;
  top: 4615px;
}

h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 148.4%;
  /* or 30px */

  color: #3e3e3e;
}

.motto {
  position: absolute;
  width: 238px;
  height: 60px;
  left: 110px;
  top: 4680px;
}

.sponsor1 {
  position: absolute;
  width: 140px;
  height: 30px;
  left: 420px;
  top: 4680px;
}

.sponsor2 {
  position: absolute;
  width: 78px;
  height: 30px;
  left: 420px;
  top: 4718px;
}

.sponsor3 {
  position: absolute;
  width: 106px;
  height: 30px;
  left: 420px;
  top: 4756px;
}

.sponsor4 {
  position: absolute;
  width: 78px;
  height: 30px;
  left: 420px;
  top: 4794px;
}

.contact1 {
  position: absolute;
  width: 190px;
  height: 30px;
  left: 730px;
  top: 4680px;
}

.contact2 {
  position: absolute;
  width: 216px;
  height: 30px;
  left: 730px;
  top: 4718px;
}

.contact3 {
  position: absolute;
  width: 196px;
  height: 30px;
  left: 730px;
  top: 4756px;
}

.contact4 {
  position: absolute;
  width: 112px;
  height: 30px;
  left: 730px;
  top: 4794px;
}

.about {
  position: absolute;
  width: 104px;
  height: 30px;
  left: 1040px;
  top: 4680px;
}

.services {
  position: absolute;
  width: 138px;
  height: 30px;
  left: 1040px;
  top: 4718px;
}

.community {
  position: absolute;
  width: 138px;
  height: 30px;
  left: 1040px;
  top: 4756px;
}

.blog {
  position: absolute;
  width: 60px;
  height: 30px;
  left: 1040px;
  top: 4794px;
}

.iglogo {
  position: absolute;
  top: 4750px;
  left: 110px;
}

.fblogo {
  position: absolute;
  top: 4750px;
  left: 270px;
}

.twlogo {
  position: absolute;
  top: 4750px;
  left: 190px;
}

.break-left {
  position: absolute;
  width: 504px;
  height: 0px;
  left: 110px;
  top: 4878px;

  border: 1px solid #000000;
}

.break-right {
  position: absolute;
  width: 517px;
  height: 0px;
  left: 814px;
  top: 4878px;

  border: 1px solid #000000;
}
